Repository rraydenn/panique-au-musee: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_tomcat, deploy_client, deploy_admin, deploy_express_app

.gitlab-ci.yml:

# docker image with Maven
# use the same image for all jobs
image: maven:3-eclipse-temurin-21-alpine

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

.before_script_common: &before_script_common
  - chmod +x setup-mvn-proxy.sh
  - ./setup-mvn-proxy.sh
  - chmod 400 $CI_SSH_KEY
  - apk add openssh-client

deploy_tomcat:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'  # S'exécute uniquement sur la branche `main`
      changes:
        - users/**  # Déploiement uniquement si des fichiers dans `users` changent
  when: manual  # Déploiement manuel
  before_script:
    - *before_script_common
  script:
    - cd users
    - mvn clean package
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY target/users.war gitlabci@192.168.75.94:/opt/tomcat/webapps/users.war

deploy_client:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - client/**/** # Déploiement uniquement si des fichiers dans 'client' changent
  when: manual  # Déploiement manuel
  before_script:
    - *before_script_common
    - apk add nodejs npm openssh-client
  script:
    - cd client
    - npm install
    - npm run build
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY dist/* gitlabci@192.168.75.94:/usr/share/nginx/html/

deploy_admin:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - admin/**/**  # Déploiement uniquement si des fichiers dans 'api' changent
  when: manual # Déploiement manuel
  before_script:
    - *before_script_common
    - apk add nodejs npm openssh-client
  script:
    - cd admin
    - npm install
    - npm run build
    - scp -o StrictHostKeyChecking=no -i $CI_SSH_KEY -r dist/* gitlabci@192.168.75.94:/usr/share/nginx/html/secret/

deploy_express_app:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'  # S'exécute uniquement sur la branche 'api'
      changes:
        - api/**  # Déploiement uniquement si des fichiers dans 'api' changent
  when: manual  # Déploiement manuel
  before_script:
    - chmod +x setup-mvn-proxy.sh
    - ./setup-mvn-proxy.sh
    - chmod 400 $CI_SSH_KEY
    - apk add openssh-client rsync  # Installation de rsync
  script:
    - cd api
    # Création d'un script de déploiement temporaire
    - echo '#!/bin/sh' > deploy.sh
    - echo 'cd /opt/express' >> deploy.sh
    - echo 'npm install' >> deploy.sh
    - echo 'npm run prestart' >> deploy.sh
    - echo 'pm2 restart server.js || pm2 start server.js' >> deploy.sh
    - chmod +x deploy.sh
    # Synchronisation des fichiers avec rsync
    - rsync -avz --exclude='node_modules' -e "ssh -i $CI_SSH_KEY -o StrictHostKeyChecking=no" ./ gitlabci@192.168.75.94:/opt/express/
    # Exécution du script de déploiement
    - ssh -i $CI_SSH_KEY -o StrictHostKeyChecking=no gitlabci@192.168.75.94 "cd /opt/express && ./deploy.sh"

ajout d'un debug pour les touches - fix touchdebug
  client/src/components/MyMap.vue
Due: deploy_client

modif touchDebug pour utiliser la meme logique que MyMap
  client/src/components/TouchDebug.vue
Due: deploy_client

nouvelle tentative calibrage
  client/src/components/MyMap.vue
Due: deploy_client

calibrage fonctionnel, suppression du debug
  client/src/components/MyMap.vue
Due: deploy_client

hotfix : suppression du rôle et login du storage au logout
  client/src/App.vue
Due: deploy_client

début ajout captured en front + debug pour init
  client/src/components/MyMap.vue
  client/src/services/game.ts
Due: deploy_client

fin implémentation captured ?
  client/src/components/MyMap.vue
  client/src/services/game.ts
Due: deploy_client

maj pour vibrate
  client/src/components/CatchModal.vue
  client/src/components/MyMap.vue
Due: deploy_client

tentative de fix catchModal + fix reset game capturé
  client/src/components/CatchModal.vue
  client/src/components/MyMap.vue
  client/src/services/game.ts
Due: deploy_client

fix catchModal
  client/src/components/CatchModal.vue
  client/src/components/MyMap.vue
Due: deploy_client

changement admin pour le reset game
  admin/src/admin.html
  admin/src/js/endGame.ts
  admin/src/js/form.ts
Due: deploy_admin

fix affichage vitrine voleur
  client/src/components/MyMap.vue
Due: deploy_client

ajout d'une route dans l'express pour supprimer une ressources
  api/dao/gameDao.js
  api/routes/game.js
Due: none

initial commit github
  README.md
  client_SPA.html
Due: none

ajout du style pour index.html
  admin/src/css/style.css
  admin/src/index.html
  admin/src/js/index.ts
Due: deploy_admin

admin: fix erreur eslint
  api/server.js
Due: deploy_express_app

admin: fix auto eslint
  api/routes/admin.js
  api/routes/game.js
Due: none

admin: changement du port pour éviter le conflit avec users en dev
  admin/webpack.config.js
Due: deploy_admin

gen: ajout de config pour pouvoir tout exécuter en local
  admin/package.json
  admin/src/js/config.ts
  admin/src/js/index.ts
  admin/webpack.config.js
  api/server.js
  client/vite.config.ts
Due: deploy_client, deploy_admin, deploy_express_app

Admin: ajout utilisateurs, Users: CORS config + auth filter
  admin/src/admin.html
  admin/src/js/form.ts
  users/src/main/java/fr/univlyon1/m1if/m1if13/users/config/UserResourceRouter.java
  users/src/main/java/fr/univlyon1/m1if/m1if13/users/config/WebMvcConfig.java
  users/src/main/java/fr/univlyon1/m1if/m1if13/users/filter/AuthenticationFilter.java
Due: deploy_admin

admin: fix titre
  admin/src/admin.html
Due: deploy_admin

admin & api: - ajout de la suppression des utilisateurs - changement clic droit pour les TTL - fix requête undefined
  admin/src/js/gameservice.ts
  api/dao/gameDao.js
  api/routes/admin.js
Due: deploy_admin

client: fix connexion
  client/vite.config.ts
Due: deploy_client

users + api: ajout d'utilisateurs automatique en dev
  admin/src/js/form.ts
  admin/src/js/gameservice.ts
  api/config/devInitializer.js
  api/package.json
  api/server.js
  users/pom.xml
  users/src/main/java/fr/univlyon1/m1if/m1if13/users/config/DevUserInitializer.java
  users/src/main/resources/application-prod.properties
  users/src/main/resources/application.properties
Due: deploy_tomcat, deploy_admin, deploy_express_app

client: maj styling & suppression des bases du projet vue
  client/src/App.vue
  client/src/assets/main.css
  client/src/components/HelloWorld.vue
  client/src/components/Login.vue
  client/src/components/TheWelcome.vue
  client/src/components/WelcomeItem.vue
  client/src/components/icons/IconCommunity.vue
  client/src/components/icons/IconDocumentation.vue
  client/src/components/icons/IconEcosystem.vue
  client/src/components/icons/IconSupport.vue
  client/src/components/icons/IconTooling.vue
  client/src/views/AboutView.vue
  client/src/views/HomeView.vue
  client/src/views/MyMapView.vue
  client/tsconfig.app.json
  client/vite.config.ts
Due: deploy_client
